In [1]:
import pandas as pd
import matplotlib.pyplot as plt


# Plt Style
plt.style.use('bmh')

# DataFrame
df = pd.read_csv(r"D:\Python Course\Playing Matplotlib\csv\data1.csv")

# Col
ages = df["Age"]
devs = df["All_Devs"]
py_Sal = df["Python"]
js_Sa = df["JavaScript"]
df.head(5)

   Age  All_Devs  Python  JavaScript
0   18     17784   20046       16446
1   19     16500   17100       16791
2   20     18012   20000       18942
3   21     20628   24744       21780
4   22     25206   30500       25704